Doxyfile
Dox
playground/
private/
*.exe
*.stackdump
*.opensdf
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.mvs
.vs/*
*.future
*.gch
*.desktop
*.elf
*.mesh2d
*.gz
*.bak
*.backup
*.pyc
*.ini
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.o
*.so
*.out
elf.*
*.pdf
*.toc
*~
*.kate-swp
*.temp
*.vtk
