Doxyfile
Dox
private/
callgrind.out.*
cachegrind.out.*
*OUTPUT_CPPLINT.txt
./OUTPUT_CPPLINT.txt
./*/OUTPUT_CPPLINT.txt
*.exe
*.fls
*.fdb_latexmk
*.stackdump
*.opensdf
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.mvs
.vs/*
*.future
*.gch
*.desktop
*.elf
*.mesh2d
*.gz
*.bak
*.backup
*.pyc
*.ini
*.aux
*.bbl
*.blg
*.d
*.idx
*.ilg
*.ind
*.log
*.o
*.so
*.out
elf.*
*.pdf
*.toc
*~
*.kate-swp
*.temp
*.vtk
